@font-face {
  font-family: 'Liberation Serif';
  src: url("LiberationSerif-Regular.ttf");
}

.table-game-final-stats {
    border-collapse: collapse;
    margin: 20px;
    font-family: Arial, sans-serif;
}

.table-game-final-stats td, .table-game-final-stats th {
    border: 1px solid #333;
    width: 120px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
}

.table-game-final-stats .td-empty {
    border: none;
    background: transparent;
}

.div-content-card {
    font-size: 20px;
}

.div-value-card {
    font-size: 17px;
}

.div-value-suit {
    font-size: 15px;
}

@media (max-width: 530px){
    .div-content-card {
        font-size: 16px;
    }
    .div-value-card {
        font-size: 13px;
    }
    .div-value-suit {
    font-size: 11px;
}
}