@font-face {
  font-family: 'Liberation Serif';
  src: url("LiberationSerif-Regular.ttf");
}

.table-game-final-stats {
    border-collapse: collapse;
    margin: 20px;
    font-family: Arial, sans-serif;
}

.table-game-final-stats td, .table-game-final-stats th {
    border: 1px solid #333;
    width: 120px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
}

.table-game-final-stats .td-empty {
    border: none;
    background: transparent;
}

.div-content-card {
    font-size: 20px;
}

.div-value-card {
    font-size: 17px;
}

.div-value-suit {
    font-size: 15px;
}

.div-game-header-code{
    order: 1;
}

.div-game-header-scores{
    order: 2;
}

.div-game-header-leave{
    order: 3;
}

@media (max-width: 470px){
    .div-game-header-code{
        order: 1;
        width: calc(50% - 16px);
    }

    .div-game-header-scores{
        order: 3;
        width: 100%;
    }

    .div-game-header-leave{
        order: 2;
        width: calc(50% - 16px);
    }
}