.div-stat{
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    background-color: #c9a84c;
    color:rgba(5,18,10,0.97);
}

.sous-div-stat{
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    background-color: #2d6a4f;
    color:rgba(5,18,10,0.97);
    color:white;
}

.div-single-stat{
    text-align: center;
    width:100%;
}

.grid-stats-atouts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-rows: repeat(2, 1fr);
}

.grid-stats-atouts-numbers{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 530px){
    .grid-stats-atouts{
        display: flex;
        flex-direction: column;
    }

    .grid-stats-atouts-numbers{
        height: 300px;
    }
}
